@import "../../../../../index-cloud-ens-portal-charte/src/main/sass/cloud-ens/variables";


[data-column="author"] {
  width: 150px;

  @include media-breakpoint-up("xl") {
    width: 200px;
  }
}

[data-column="views"] {
  width: 100px;
}

[data-column="downloads"] {
  width: 120px;
}


.portal-table-row {
  &:hover, &.ui-selecting, &.ui-selected {
    background-color: $orange-200;
  }

  &, &.ui-selecting, &.ui-selected {
    border-color: $orange-500;
  }
}
