//
// Discussions
// --------------------------------------------------


.discussions {
    [data-column="document"] {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;    
    }
    
    [data-column="date"] {
        width: 200px;
    }
    
    @media (max-width: 767px) {
    
        [data-column="date"] {
            display: none;
        }
    
    }    

    .portal-table-row {
        position: relative;
    }

    .discussions-shadowbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        visibility: hidden;
    }

    .ui-selected {
        .discussions-shadowbox {
            visibility: visible;
        }
    }

}

.discussion {    
    .form-rounded {
        border-radius: 1rem;
    }   
}   

