@import "../../../../index-cloud-ens-portal-charte/src/main/sass/cloud-ens/variables";

.taskbar {
  > ul > li {
    > a {
      padding: {
        top: .1em;
        bottom: .1em;
        left: calc(1.25em + .25rem);
        right: .1em;
      }

      @include border-radius();

      &:hover {
        background-color: $light;
      }
    }
  }

  .fancytree-node {
    &:not(.current) {
      color: $secondary;

      &:hover {
        color: darken($secondary, $emphasized-link-hover-darken-percentage);
      }
    }

    &.search-location {
      //background-color: $blue-lighter;

      &:hover {
        //background-color: darken($blue-lighter, 5%);
      }
    }
  }
}
