#maximized {
  > .page-header {
    display: none !important;
  }
}


#contextualized-search {
  .portlet-container {
    margin-bottom: 0;
  }
}


#nav-bottom {
  .dyna-window {
    padding-top: map_get($spacers, 3);

    border-top: {
      style: solid;
      width: $border-width;
      color: $border-color;
    }

    @include make-row();

    > * {
      @extend %grid-column;
    }
  }
}
