@import "variables-base";


$primary: $cloud-dark;
$primary-lighter: $blue-lighter;

$theme-colors: map-merge(
                (
                        "primary-lighter": $primary-lighter
                ),
                $theme-colors
);




@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
