
@import "variables";


/* read only extension 
*/

.field-display-rendered {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 0 !important;
  margin-right: -(map_get($spacers, 1));
  padding-left: 0 !important;
  padding-right: 0 !important;

  list-style: none;
}


.field-display-list-item {
  overflow: hidden;
  text-overflow: ellipsis;

  margin: {
    bottom: map_get($spacers, 1);
    right: map_get($spacers, 1);
  }
  padding: {
    top: .1rem;
    bottom: .1rem;
    left: map_get($spacers, 1);
    right: map_get($spacers, 1);
  }

  border: {
    style: solid;
    width: $border-width;
    color: $border-color;
    radius: $border-radius;
  }

  background-color: $gray-100;
}
  


.field-display-text{
    white-space: nowrap;
}
